*{
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 14px;*/
    font-family: 微软雅黑;
    color: #787878
}

body{
    background-color: #191919;
}
h2{

}
h3{

}
p{
    margin: 10px 0;
}

header{
    height: 50px;
    background-color: #323232;
    color: #c8c8c8
}
/*div.main{*/
    /*margin: 0 auto;*/
    /*padding: 0;*/
    /*!*background-color: #323232;*!*/
/*}*/
div.main.middle{
    background-color: #323232;
}
div.contain{
    width: 960px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    /*background-color: #1e323c;*/
}
div.contain.top{
    width: 860px;
    padding: 50px 50px;
    text-align: left;
}
div.contain.bottom{

}


table{
    margin: 0 auto;
    border: 1px;
    background-color: #323232;
    border-style: solid;
    border-color: #323232;
}

td.on, td.off{
    width: 17px;
    height: 17px;
}
td.on{
    background-color: #696969;
}
td.on:hover{
    background-color: #787878;
}
td.on:active{
    background-color: #141414;
}
td.off{
    background-color: #191919;
}
td.off:hover{
    background-color: #323232;
}
td.off:active{
    background-color: #787878;
}

input.button{
    width: 77px;
    margin: 3px;
    background-color: #323232;
    border: 1px;
    border-style: solid;
    border-color:  #696969;
    padding: 5px 10px;
    color: #969696;
}
input.button:hover{
    background-color: #c8c8c8;
    color: #191919;
}
input.button:active{
    background-color: #191919;
    color: #787878;
}


div.checkboxBox{
    width: 500px;
    height: 35px;
    margin: 0 auto;
    text-align: left;
}
div.checkboxDiv{
    height: 30px;
    float: right;
}
div.checkbox{
    height: 22px;
    width: 22px;
    float: left;
    margin: 2px;
    border: 1px;
    border-style: solid;
    border-color:  #696969;
    text-align: center;
    font-size: 15px;
}
div.checkbox.off{
    background-color: #323232;
    color: #c8c8c8;
}
div.checkbox.off:hover{
    background-color: #646464;
    color: #c8c8c8;
}
div.checkbox.off:active{
    background-color: #c8c8c8;
    color: #191919;
}
div.checkbox.on{
    background-color: #c8c8c8;
    color: #191919;
}
div.checkbox.on:hover{
    background-color: #a0a0a0;
    color: #191919;
}
div.checkbox.on:active{
    background-color: #c8c8c8;
    color: #191919;
}

footer{
    height: 200px;
    background-color: #323232;
    padding-top: 10px;
}
div.line{
    height: 1px;
    margin: 0 auto;
    background-color: #c8c8c8;
    width: 96%;
}
div.mes{
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}